---
title: "3week_study"
author: "yerim bu"
format: html
---

## 3주차

콰토 쓸 때는 새파일 만들 때 R script가 아니라 \[콰토 다큐먼츠\]로 선택할 것.

## 콰토 기본 요소

-   야믈 : 문서 정보, 형태\
`---`\
여기 사이에 야믈로 실행할 내용 적기\
`---`\
-   코드 청크 : 코딩 실행하는 부분

```{r}
1 + 1
```

-   마크다운 부분 : 실제 내용 들어감 `#` - 마크다운 기호 1개는 제목 2개는 소제목

## 렌더링과 웹인 브라우저의 차이점

-   web in brower : 실제 파일 열기
-   rendering : 임시 홈페이지 만들기
.Rproj.user
